flask
flask_sqlalchemy
flask_login
psycopg2-binary
spacy
scikit-learn
flask_migrate
flask_wtf
flask_mail
flask_cors
flask_bcrypt
flask_restful
flask_jwt_extended
gunicorn
python-dotenv
requests
beautifulsoup4
pandas
numpy